.series-item{
	width: 49.5%;
	height: 60px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: transform 0.2s ease;
}

.series-item:hover{
	box-shadow: 0px 0px 3px;
	cursor: pointer;
}

.series-item:active{
	transform: scale(0.99);
}

.price-font{
	font-weight: 700;
	padding-right: 10px;
}

.series-item-font{
	font-weight: 700;
	color: #2b8282;
}

@media (max-width: 500px){
	.series-item{
		width: 100%;
	}
	.sseries-item-font{
		font-size: 0.9em;
	}
}