.ContactData{
	padding-top: 100px;
	width: 50%;
}

.ContactDataHeader{
	padding-left: 0;
}

.FormInvalid{
	border-color: #fb6100;
}

.InputError{
	padding-top: 5px;
	color: #fb6100;
}

form button{
	margin-top: 10px; 
	width: 100%;
	height: 2.5rem;
	color: #fff;
	background-color: #2b8282;
}

form button:hover,
form button:active{
				background-color: #1e5c5c;
			}

@media (max-width: 850px){
	.ContactData{
		width: 60%
	}
}

@media (max-width: 700px){
	.ContactData{
		width: 80%
	}
}
