.contactdata{
	padding-top: 50px;
	width: 50%;
}

.contactdata-header{
	font-weight: 800;
	margin-bottom: 20px;
}

form button{
	margin-top: 10px; 
	width: 100%;
	height: 2.5rem;
	color: #fff;
	background-color: #2b8282;
}

@media (max-width: 850px){
	.contactdata{
		width: 60%
	}
}

@media (max-width: 700px){
	.contactdata{
		width: 80%
	}
}
